/*
*May be used after float:left
*/
/*
*Centralize with this
*/
/*
*Breakpoints for responsive design
*/
/*
*Defines default font size
*/
/* #region Colors*/
/* #region Primary Color*/
/* #endregion */
/* #region Secondary Color*/
/* #endregion */
/* #region Tertiary Color*/
/* #endregion */
/* #endregion */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  /* 
    to {
        visibility: hidden;
    } */ }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0;
  background-size: cover;
  background: black;
  background-attachment: fixed; }

body {
  font-family: 'Poiret One', cursive;
  font-weight: 400; }

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 4rem;
  position: absolute;
  z-index: 4;
  text-align: center;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  transition: all .3s ease;
  /*     background: rgba($color-white, 0.6); */ }
  .heading--main {
    animation: moveInLeft 1s ease-out;
    margin-bottom: 3rem; }
  .heading--sub {
    animation: moveInRight 1s ease-out; }

.welcome {
  height: 100vh; }
  .welcome::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2; }

.material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all;
  font-family: 'Material Icons';
  font-size: 10rem;
  color: #ffffff;
  z-index: 2;
  margin-top: 25rem;
  animation: blink 2.5s ease-in-out infinite; }

.about {
  height: 100vh;
  transition: all;
  font-size: 2.5rem;
  color: #ffffff; }
