.section {
    height: 100vh;
    position: relative;
    
    &__title-box {
        @include absCenter;
        text-transform: uppercase;
    }

    &__about-text {
        @include absCenter;
        width: 95vw;
        height: 100vh;
    }

    
}