/*
*Defines default font size
*/
$default-font-size: 1.6rem;

/* #region Colors*/
$color-white: #ffffff;
$color-black: #000;

/* #region Primary Color*/
$color-primary: #333E77;
$color-primary-dark-1: #142166;
$color-primary-dark-2: #051156;
$color-primary-light-1: #878A98;
$color-primary-light-2: #5A6188;
/* #endregion */

/* #region Secondary Color*/
$color-secondary: #443278;
$color-secondary-dark-1: #281367;
$color-secondary-dark-2: #190456;
$color-secondary-light-1: #8C8899;
$color-secondary-light-2: #655A88;
/* #endregion */

/* #region Tertiary Color*/
$color-tertiary: #2C5170;
$color-tertiary-dark-1: #0D3B61;
$color-tertiary-dark-2: #022D51;
$color-tertiary-light-1: #7F8890;
$color-tertiary-light-2: #526B80;
/* #endregion */

/* #endregion */