.btn{
    &,
    &:visited,
    &:link {
        color: inherit;
        background: none;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 1rem 4rem;
        border-radius: 2rem;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer;
        border: solid 1px;
        margin-top: 3rem;
    }


    &-info {
        left: 50%;
        transform: translate(-50%, 0%);
        animation: fadeIn 2.5s ease-out;
    }
}