.welcome {
    height: 100vh;
}
/* 
.info {

    background-color: red;
    font-size: 1.7rem;
    top: 60%;

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: absolute;
        
    }
} */