.welcome {
    height: 100vh;
    background-size: cover;
    background: url("../../img/trees.jpg");
    background-attachment: fixed;

    &::before {
        content: "";
        background: rgba($color-black, 0.45);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 2;
    }
}

